@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/*Cuerpo de toda la pagina*/
body{
    background-color: lch(35.37% 49.59 297.64);
    padding: 0px 70px 25px 70px;
}
/*////////////////////////////////////////////////////////////////*/
/*Encabezado*/

.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    padding-left: 330px;
    color: lch(60.98% 67.91 140.5);
}

header section span img{
    padding-left: 20px;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 70px;
    background-color: lch(37.94% 52.16 325.28);
    padding: 5px;
}
    
   nav a{
    padding-right: 30px;
        text-decoration: none;
        color: rgb(27, 54, 27);
        font-size: xx-large;

}
.fondo{
background-image: url(portada.jpg);
 background-position: center;
background-size: cover;
        color: white;
        font-size: 55px;
        font-weight: bold;
        text-align: center;
        padding: 125px;

}

span{
    font-style: italic;
   font-weight: lighter;
        font-size: 45px;
   padding-top: 55px;
}

h3{
    color:rgb(12, 227, 23);
    font-size: 50px;
}

/*///////////////*/
/*recomendados*/

div img{
    height: 200px;
    transition: 300ms ease-in-out;
}
.tres div img:hover {
    transform: scale(1.2);
}
    
.tres{
    display: flex;
    justify-content: center;
    gap: 100px
}
div p{
    text-align: center;
    font-size: 16px;
    line-height: 15px;
}	
/*////////////////*/
/*boton ver mas, compra*/

p input{
    background-color: lch(50.12 91.93 40.19);
    color: white;
}
/*///////////////*/
/*libros*/
.cuatro{
    display: flex;
    justify-content: center;
    align-items: baseline;
    justify-content: space-between;
    gap: 70px;
    overflow-x: scroll;
}
/*///////////////*/
/*CONOCENOS*/
.conocenos{
    display: flex;
    justify-content: center;
    padding: 0px 40px 40px 40px;
}
.conocenos div p {
    text-align: left;
    
    
}
#teEsperamos{
    color: lch(10.26% 49.72 301.78);
    font-weight: bold;
    text-align: center;
}
figure img{
    width: 80%;
    height: auto;
    padding-left: 75px;
}
/*//////////////*/
/*PIE DE PAGINA*/
.pie{
    background-color: lch(34.85% 68.37 337.99);
    display: flex;
    gap: 15px;
    color: lch(94.22 11.47 208.6);
    padding: 0px 20px 20px 20px;
}
.pie div{
    flex: 1;
}
div h4{
    font-size: 26px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}
.tunel p{
    text-align: left;
    padding-bottom: 32px;
}
.tunel span img{
    height: 25px;
    width: auto;
    padding-left: 15px;
}
.info a{
    display: block;
    text-decoration: none;
    padding-bottom: 20px;
    color: lch(94.22 11.47 208.6);
}
.subscri p{
    text-align: left;
    color: lch(94.22 11.47 208.6);
    padding-bottom: 10px;
}
#barra{
    width: 80%;
}
#enviar{
    background-color: lch(94.22 11.47 208.6);
    color: lch(56.55% 66.68 339.28);
}
.derechos small{
    display: block;
    background-color: lch(56.24% 73.93 339.17);
    color: lch(94.22 11.47 208.6);
    padding: 20px 0px 25px 0px;
    text-align: center;
}



        